*.zip
*.xml
*.dbf
*.prj
*.shx
vacant.csv
Boundaries - Census Tracts - 2010/geo_export_4fe3e3ac-41f8-4a60-bb1e-c48fe46939e3.cpg
vacant-app/__pycache__/app.cpython-312.pyc
vacancy_tabs/__pycache__/app.cpython-312.pyc
basic-app-maps/__pycache__/app.cpython-312.pyc
vacant_gdf.cpg
